{% extends 'components/template.html' %}

{% block title %}Feedback{% endblock %}

{% block header %}Feedback{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/feedback.js')}}"></script>
{% endblock %}

{% block nav %}
<a href="/">Home</a><a class="current" href="/feedback.html">Feedback</a><a href="/data.html">Data</a>
{% endblock %}

{% block content %}
    {% if feed_li is defined and feed_li %}
        <div class="scroller">
            {% for elem in feed_li %}
            <div class="card review-card">
                <div class="card-header">"{{elem[1]}}" <span class="badge badge-secondary">{{elem[2]}}</span></div>
                <div class="card-body">
                    <button class="btn btn-success" onclick="update_feedback({{elem[0]}}, 'correct' );">correct</button>
                    <button class="btn btn-dark" onclick="update_feedback({{elem[0]}}, 'wrong' );">wrong</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if thanks == True %}
            <div class="alle">Thank you for the feedback! Please consider giving feedback for other reviews.</div>
        {% endif %}
    {% else %}
        <div>No more reviews to give feedback on.</div>
        {% if thanks == True %}
            <div class="alle">Thank you for the feedback!</div>
        {% endif %}
    {% endif %}
{% endblock %}