{% extends 'components/template.html' %}

{% block title %}Home{% endblock %}

{% block header %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

{% block content %}
    <div>Enter random review here</div>
    <form action="/result.html" method="POST">
        <input required type="text" name="review" value="" placeholder="Enter" />
        <button type="submit">Submit</button>
    </form>
{% endblock %}